<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div
  class="card mealkit-card h-100 d-flex flex-column shadow p-3 rounded border-0"
>
  <img
    src="/mealkit-imgs/<%- imageUrl %>"
    class="card-img-top"
    alt="A grid of menu items"
  />
  <div class="card-body flex-grow-1 d-flex flex-column">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-text"><%= description %></p>
    <div class="d-grid gap-2 col-3 mx-auto">
      <% if (typeof edit === 'undefined' || typeof remove === 'undefined') {%>
        <button type="button" class="btn btn-price accent mt-auto">
          <strong>$<%= price %></strong>
        </button>
       <% } else { %>
        <a href="<%= edit %>">
            <button type="button" class="btn btn-price accent mt-auto">
                <strong>Edit</strong>
              </button>    
        </a>
        <a href="<%= remove %>">
            <button type="button" class="btn btn-price accent mt-auto">
                <strong>Remove</strong>
              </button>    
        </a>
        <% } %>
    </div>
  </div>
</div>
