<!--/*************************************************************************************
* WEB322 - 2241 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Emily Fagin
* Student ID    : efagin (139498224)
* Course/Section: WEB322/NEE
*
**************************************************************************************/-->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 card">
            <div class="card-body">
                <h2 class="card-title text-center">Sign Up</h2>
                <form method="post" action="/sign-up">

                    <div class="mb-3"> <!--First Name-->
                        <label for="firstName" class="form-label"><span class="text-danger">*</span>First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= values.firstName %>">
                    </div>

                    <% if (errors.firstName) { %> <!-- First Name Error Message -->
                        <div class="mb-3 text-danger" id="errorMessage"> <%= errors.firstName %> </div>
                    <% } %>

                    <div class="mb-3"> <!--Last Name-->
                        <label for="lastName" class="form-label"><span class="text-danger">*</span>Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= values.lastName %>">
                    </div>

                    <% if (errors.lastName) { %> <!-- Last Name Error Message -->
                        <div class="mb-3 text-danger" id="errorMessage"> <%= errors.lastName %> </div>
                    <% } %>

                    <div class="mb-3"> <!--Email-->
                        <label for="email" class="form-label"><span class="text-danger">*</span>Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="<%= values.email %>">
                    </div>

                    <% if (errors.email) { %> <!-- Email Error Message -->
                        <div class="mb-3 text-danger" id="errorMessage"> <%= errors.email %> </div>
                    <% } %>

                    <div class="mb-3"> <!--Password-->
                        <label for="password" class="form-label"><span class="text-danger">*</span>Password</label>
                        <input type="text" class="form-control" id="password" name="password">
                    </div>

                    <% if (errors.password) { %> <!-- Password Error Message -->
                        <div class="mb-3 text-danger" id="errorMessage"> <%= errors.password %> </div>
                    <% } %>

                    <!--Submission Button-->
                    <button type="submit" class="btn submit-info w-100">Sign Up Now!</button>
                    
                    <% if (errors.err) { %> <!-- Other User-Related Errors Message -->
                        <div class="mb-3 text-danger" id="errorMessage"> <%= errors.err %> </div>
                    <% } %>

                </form>
            </div>
        </div>
    </div>
</div>